*{
    font-family: "OpenSans";
    box-sizing: border-box;
}

/*main 
{
    overflow: auto;
}

aside
{
    float: right;
}

.box1
{
    float: left;
}*/

header {
   display: inline;
}

body
{
    /*background-color: #293251;*/
    background:
    /*linear-gradient(180deg, #693C72 18.82%, rgba(17, 34, 186, 0.71) 50.52%, rgba(143, 27, 97, 0.71) 100%, rgba(249, 18, 156, 0.71) 100%);*/  
    /*linear-gradient(180deg, #693C72 18.82%, rgba(17, 34, 186, 0.71) 50.52%, rgba(104, 7, 65, 0.71) 100%);*/ 
    linear-gradient(180deg, #693C72 18.82%, rgba(17, 34, 186, 0.71) 45.8%);
    margin: 0;
    padding: 0;
}

.jumbotron 
{
    font-size: 16px;
    padding: 10px;
    background-color: #693C72 ;
    text-align: left;
    color:white;
}

.teks-berjalan
{
    font-size: 20px;
    font-family: "OpenSans-SemiBold";
    /*word-spacing: 20px*/
    padding: 15px 0px 15px 0px;
    background-color: #AC94B1;
    text-align: left;
    color:white;

}

/*.logout
{
    display: flex;
    width: 75px;
    background-color: blue;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

#logout
{
  margin:auto;
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-family: sans-serif;
}*/

nav 
{
    justify-content: flex-start;
    display: flex;
    background-color: #CC4D4D ;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
}

nav ul 
{

    display: flex;
    height: 52px;
    align-items: center;
    margin-left: 160px;
    position: relative;
}
nav li 
{
    display: inline;
    list-style-type: none;
}

nav a 
{
    font-family: "OpenSans-SemiBold";
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: white;
    display: block;
}

nav li a
{
    display: flex;
    background: #CC4D4D;
    color: white;
    padding: 20px;
    height: 84px;
    align-items: center;
    position: relative;
}

nav li.active a
{
    display: flex;
    background: #AF4141;
    color: white;
    padding: 20px;
    height: 84px;
    align-items: center;
    position: relative;
    
}

    nav li#hover a:hover
{
    display: flex;
    background: #B94545;
    color: white;
    padding: 20px;
    height: 84px;
    bottom: 0;
    position: relative;
    transition: 0.3s;
    }


.box
{
    display: flex;
    flex-direction: column;
      /* properti lainnya 
             /*width: 983px;
             height: 865px;*/
             padding: 40px; 
             margin: auto;
             background: rgb(255,255,255,.2);
             box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
             border-radius: 13px;
             width: 800px;
             transition: 0.3s;
}

footer {
   position: sticky;
   padding: 20px;
   font-size: 14px;
   color: white;
   background-color: #CC4D4D;
   text-align: center;
   font-weight: bold;
   margin-top: 50px;
}


#wnntable {
          border-collapse: collapse;
          width: 100%;
          background-color: #A7C5EB;
          margin-bottom: 5px;
        
        }
        #wnntable td {
          text-align: center;
          padding: 8px;
          color: white;
        }

        #wnntable th {
          
          padding: 8px;
        }
 
        #wnntable tr:nth-child(even){
            background-color: #709FB0;
            
        }
 
        #wnntable tr:hover {
            background-color: salmon;           
        }
 
        #wnntable th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: center;
          background-color: #4A47A3;
          color: white;
        }

}


/*.container{
    flex-basis: 10%;
    width: 300px;    
    background-color: #FFF;
    
    display: block;
    margin-top: 0 ;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: #F4F9FF;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value p:hover{
    
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}

.location{
    
}

.location p{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}



